* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 16px;
    line-height: 1.5;
    font-family: Roboto, sans-serif;
  }
  
  h1,
  h2 {
    margin: 0.25em;
    font-family: "Roboto", sans-serif;
  }
  
  h1 {
    font-size: 2rem;
    color: #f5f5f7;
    text-align: center;
  }
  
  h2 {
    font-size: 1.4rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
    background-color: #157c3b;
    color: whitesmoke;
    border-radius: 5px;
    padding: 0.5em;
    width: 100%;
  }
  
  main {
    max-width: 1080px;
    margin: 0 auto;
  }
  
  section {
    border: 1px solid #8e8ebd;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #c2eeff3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  section p {
    font-size: 0.8rem;
  }
  
  section img {
    width: 150px;
    height: auto;
    box-shadow: 0 0 15px #333;
    margin-top: 0.75em;
  }
  
  .cards {
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 30px #777777;
    padding: 1em;
    margin-top: 1em;
    display: grid;
    grid-gap: 0.25rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
  footer {
    text-align: center;
    font-family: "Roboto", sans-serif;
    background-color: #e6720d;
    color: whitesmoke;
    border-radius: 5px;
    padding: 0.5em;
    margin-top: 1em;
    width: 100%;
  }
  
  /* medium viewports */
  @media (min-width: 520px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  /* large viewports */
  @media (min-width: 1060px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.heading {
    display: flex;
    flex-direction: column;
}

header img {
    width: 80px;
    height: auto;
}

.heading h1 {
    font-size: 25px;
    margin: 10px;
}

.motto {
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    margin: 5px;
    color: white;
}

nav {
    font-size: 20px;
    width: 100%;
}

nav button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: white;
}


.banner-box {
    
  display: block;
  position: relative;
  max-width: 100%;
  margin: 0%;
}

header,
main,
footer {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 5px;

}

nav {
    max-width: 800px;
    margin: 0 auto;
}

main {
    padding: 10px;
}

picture {
    padding: 5px;
}

img {
    max-width: 100%;
}


nav {
  background-color: #096132;
  text-align: center;
  box-shadow: 0 5px 15px gray;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 9px;
  text-decoration: none;
  font-size: 1rem;
}

nav ul li.active a {
  background-color: #119e55;
  color: white;
}


nav a:hover {
  background-color: #eae6b2;
  color: black;
  font-family: 'Roboto', sans-serif;
}

nav ul.hide {
  display: none;
}


.button {
  display: grid;
  border: none;
  background-color: #e98636;
  color: white;
  border-radius: 10px;
  padding: .75rem 1.5rem;
  margin: auto;
  margin-bottom: 10px;
  max-width: 80%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  max-width: 20rem;
  text-align: center;
}


.event-tab {
  margin: 15px;
  padding: 15px;
  border: 2px solid black;
  background-color: #f5c97b;
  color: #eb7610;
  font-size: 1.15rem;
}

.event-tab p {
  text-align: center;
  font-weight: bold;
}

.event-tab {
  display: none;
}

.tab2, .tab3, .tab4, .tab5, .demo-tab, .form-tab, .tab6, .thankyou-tab {
  background-color: #cae9ff;
  color: #d26b0c;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 0 5px grey;
}

.tab3 div p, .tab3 h2, .tab5 h2, .tab5 h2, .tab5 h3, .tab5 div p, .tab4 h2, .tab4 p, .tab6 p, .demo-tab, .thankyou-tab {
  text-align: center;
  color: #028a3d;
}


.cakes {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
  background-color: #e0e8c2;
  color: black;
  font-family: 'Roboto', sans-serif;
}


header,
footer {
    color: white;
    background-color: #f78b0f;
    text-align: center;
}

